* {
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.bg-gradient{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(45deg, rgb(88, 185, 225),rgb(201, 63, 243));
}


.form-stack label,
.form-stack input,
.form-stack select,
.form-stack textarea {
    display: block;
    width: 100%;
}
.form-stack > *{
    margin-bottom: 1rem;
    font-family: sans-serif;
}
input,
select,
textarea {
    border: none;
}
.form-stack{
    margin: 80px 400px;
    padding: 3rem;
    background-color: white;
    border-radius: 20px;
}
:placeholder-shown{
    font-size: 1.1rem;
}
h1{
    text-align: center;
    font-size: 3.5rem;
    margin-bottom: 1rem;
}
.bt-style{
    height: 3rem;
    width: 100%;
    border-radius: 40px;
    background-image: linear-gradient(90deg,rgb(228, 59, 247),rgb(100, 214, 221));
    color: white;
    font-size: 1rem;
    border: none;
}
.label-style{
    font-size: 0.7rem;
}
.input-style{
    font-size: 1.1rem;
}
.submit-bt{
    height: 3rem;
    width: 100%;
    border-radius: 40px;
    background-image: linear-gradient(90deg,rgb(228, 59, 247),rgb(100, 214, 221));
    color: white;
    font-size: 1rem;
    border: none;
}